:root {
  --template-figure-padding: 16px;
  --template-snippet-background: #fdf8f4;
  --template-snippet-font-color: #b98a64;
  --template-snippet-border-color: #e9a468;
  --template-boilerplate-color: #5f6264;
}
section.template-wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 47.2em) {
  section.template-wrapper {
    grid-template-columns: 50% 50%;
    grid-auto-rows: max-content;
    grid-gap: 16px;
  }
}
@media (min-width: 47.2em) {
  section.template-wrapper.snippet {
    grid-auto-rows: 30rem;
  }
}

figure.template-card {
  border: 1px solid #ccc;
  border-top-width: 3px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #eaebeb;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0;
  padding: 0 16px 16px 16px;
}
figure.template-card h2 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
}
.template-card .tag-group {
  margin: 0.5em 0 0.5em 0;
}

.template-card .tag-group > button {
  border-radius: 100px;
  font-family: 'Open Sans';
  line-height: 16px;
  padding: 2px 10px 2px 10px;
  font-size: small;
}
.template-card .tag-group > button.Enterprise {
  color: #bf223c;
  background: #fcf0f2;
}
.template-card .tag-group > button.Originless {
  color: #398557;
  background: #eff8f3;
}
.template-card .tag-group > button.Middleware {
  color: #6373b6;
  background: #f1f3f8;
}
.template-card .tag-group > button.WASM {
  color: #bf223c;
  background: #fcf0f2;
}
figure.template-card div.links {
  margin-top: 16px;
}
figure.template-card div.links a {
  margin-right: 8px;
  flex: flex-end;
  white-space: nowrap;
}
.template-card .copy-group {
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.template-card .copy-step {
  padding-bottom: 0.5rem;
  flex: none;
  align-items: center;
  font-weight: bold;
  display: flex;
}
figure.template-card .copy-step img#img {
  flex: 1;
  width: 1.25rem;
  margin: 0 0.3em 0 0;
}
figure.template-card .copy-step span {
  font-size: 14px;
  flex: 30;
}
.copy code {
  display: block;
  overflow: auto;
  padding: 16px;
  margin: 8px 0;
}
.copy .help {
  color: #4d5257;
  font-size: 0.7rem;
  text-align: right;
}
.copy .help:hover {
  opacity: 0.7;
  cursor: pointer;
  color: #f4a15d;
}

figure.template-card.snippet {
  border-top-color: var(--template-snippet-border-color);
}
figure.template-card.boilerplate {
  border-top-color: var(--template-boilerplate-color);
}
.boilerplate .copy a {
  color: white;
}
.boilerplate .copy code {
  background: var(--template-boilerplate-color);
  color: white;
}

.snippet .copy {
  display: flex;
  min-height: 0;
  flex-direction: column;
}

.snippet .copy code {
  white-space: pre;
  background: var(--template-snippet-background);
  margin: 0 calc(var(--template-figure-padding) * -1);
  border-left: 2px solid var(--template-snippet-border-color);
  color: var(--template-snippet-font-color);
  width: calc(100% + var(--template-snippet-border-color));
}
