{{ define "body" }}
{{ partial "navigation.html" . }}
{{ partial "sidebar.html" . }}

<section id="body">
  <div class="padding highlightable">
    {{if and (ne .Section "templates") (ne .Section "templates/") }}
    blag
    {{end}}
    {{.Section}}
    {{if and (ne .Section "templates") (ne .Section "templates/") }}
    <a class="github-edit" href="https://github.com/cloudflare/workers-docs/edit/master/content/{{.File.Path}}">
      <img src="/svg/github.svg" />
      <span>
        Edit on Github
      </span>
    </a>
    {{end}}
    {{if .Params.tags }}
    <div id="tags">
      {{ range $index, $tag := .Params.tags }}
      <a class="label label-default" href="{{$.Site.BaseURL}}/tags/{{ $tag | urlize }}">{{ $tag }}</a>
      {{ end }}
    </div>
    {{end}}

    <div id="body-inner">
      {{if not .IsHome}}
      <h1>{{.Title}}</h1>
      {{end}}


      {{ .Content }}
    </div>
  </div>
  <div id="navigation">
    <!-- Next prev page -->
    {{ $currentNode := . }}

    <div class="footer-pagination">
      {{with ($.Scratch.Get "prevPage")}}
      <a class="nav nav-prev" href="{{.URL}}" title="{{.Title}}"> Previous <i class="pagination-previous"></i></a>
      {{end}}
      {{with ($.Scratch.Get "nextPage")}}
      <a class="nav nav-next" href="{{.URL}}" title="{{.Title}}" style="margin-right: 0px;"> Next <i
          class="pagination-next"></i></a>
      {{end}}
    </div>
  </div>
</section>
{{ end }}