<figure class="template-card snippet" id="{{.id}}">
  <div class="tag-group">
    {{ range.tags }}
    <button class="tooltip {{.}}">{{.}}<span class="tooltiptext"></span></button>
    {{ end }}
  </div>
  <h2>
    {{.name}}
  </h2>
  <p>{{.description | markdownify}}</p>
  <div class="copy-group">
    <div class="copy-step">
      <img id="img" type="image/svg+xml" src="/templates/media/file.svg" />
      <span>Copy into a Worker script:</span>
    </div>
    <div class="copy">
      <code>{{.code}}</code>
    </div>
  </div>
  {{ if or ( .demo_url) (.demos) (.tutorial)}}
  <div class="links">
    {{ with.tutorial }}
    <a class="tutorial" href="{{.}}">
      <img src="/templates/media/tutorial.svg" id="tutorial" />
      <span>Tutorial</span>
    </a>
    {{ end }}
    {{ with.share }}
    <a class="tutorial" href="{{.}}">
      <img src="/templates/media/tutorial.svg" id="tutorial" />
      <span>Learn more</span>
    </a>
    {{ end }}
    {{ range.demos }}
    <a class="demo" href="{{.url}}">{{.text}}</a>
    {{ end }}
    {{ with.demo_url }}
    <a class="demo" href="{{.}}">Demo</a>
    {{ end }}
  </div>
  {{ end }}
</figure>
