<figure class="template-card snippet">
  <h2>
    {{ if.url }}
    <a class="demo" href="{{.url}}">{{.name}}</a>
    {{else}}
    {{.name}}
    {{ end }}
  </h2>
  <p>{{.description | markdownify}}</p>
  <div class="copy-group">
    <div class="copy-step">
      <img id="img" type="image/svg+xml" src="/templates/media/file.svg" />
      <span>Copy into a Worker script:</span>
    </div>
    <div class="copy">
      <code>{{.code}}</code>
    </div>
  </div>
  <div class="links">
    {{ range.demos }}
    <a class="demo" href="{{.url}}">{{.text}}</a>
    {{else}}
    <a class="demo" href="{{.demo_url}}">Demo</a>
    {{ end }}
  </div>
</figure>
