<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"
/>
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/atelier-cave-light.min.css"
/>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.6.0/dist/highlightjs-line-numbers.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', event => {
    document.querySelectorAll('.black code').forEach(block => {
      hljs.highlightBlock(block)
    })
    hljs.configure({
      language: 'javascript',
    })
    document.querySelectorAll('.grey code').forEach(block => {
      hljs.highlightBlock(block)
      hljs.lineNumbersBlock(block)
    })
  })
</script>
<figure class="template-page" id="{{.id}}">
  <a href="/templates" class="back">
    <img src="/templates/media/left-arrow.svg" id="img" />Template Gallery</a
  >
  <div class="grid-3-noBottom_xs-5">
    <div class="col-8">
      <h2>
        {{.name}}
      </h2>
    </div>
    <div class="col-4 demo">
      {{ with.demo_url }}
      <a href="{{.}}">
        <img src="/templates/media/external-link.svg" />
        <span>Demo</span>
      </a>
      {{ end }}
      {{ range.demos }}
      <a href="{{.url}}">
        <img src="/templates/media/external-link.svg" />
        <span>{{.text}}</span>
      </a>
      {{ end }}
    </div>
  </div>

  <div class="grid-3">
    <div class="col-8 ">
      <div class="headline">
        <hr />
        <p>{{.description | markdownify}}</p>
        <div class="tag-group">
          {{ range.tags }}
          <button class="tooltip {{.}}">
            <span class="tooltiptext"></span>{{.}}
          </button>
          {{ end }}
        </div>
      </div>
      {{ if .code}}
      <div class="grey copy-group">
        <img class="copy-trigger" src="/svg/copy-box.svg" id="img" />
        <code class="copy">{{.code}}</code>
      </div>
      {{ end }}
    </div>
    <div class="col-4">
      <div class="black copy-block">
        <div class="copy-step">
          <span>Run in your terminal:</span>
        </div>
        <div class="copy-group">
          <span class="copy">wrangler generate my-app {{.repository_url}}</span>
          <img class="copy-trigger" src="/svg/copy-box.svg" id="img" />
        </div>
        <span
          >Don't have Wrangler installed?
          <a href="/quickstart">Get started</a></span
        >
      </div>
    </div>
  </div>
</figure>
