<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"
/>
<figure class="template-page" id="{{.id}}">
  <a href="/templates" class="back"
    ><img src="/templates/media/left-arrow.svg" id="img" />Template Gallery</a
  >
  <div class="grid-3-noGutter-noBottom">
    <div class="col-9">
      <h2>
        {{.name}}
      </h2>
    </div>
    <div class="col-3 demo">
      {{ with.demo_url }}
      <a href="{{.}}">
        <img src="/templates/media/external-link.svg" />
        <span>Demo</span>
      </a>
      {{ end }}
      {{ range.demos }}
      <a href="{{.url}}">
        <img src="/templates/media/external-link.svg" />
        <span>{{.text}}</span>
      </a>
      {{ end }}
    </div>
  </div>
  <hr />
  <div class="grid-3">
    <div class="col-9">
      <p>{{.description | markdownify}}</p>
      <div class="tag-group">
        {{ range.tags }}
        <button class="tooltip {{.}}">
          <span class="tooltiptext"></span>{{.}}
        </button>
        {{ end }}
      </div>
      {{ if .code}}
      <div class="grey copy-group">
        <div class="copy">
          <code>{{.code}}</code>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="col-3">
      <div class="black copy-group">
        <div class="copy-step">
          <img src="/templates/media/terminal.svg" id="img" />
          <span>Paste this into your terminal:</span>
        </div>
        <div class="copy">
          <code>
            wrangler generate my-app
            <a href="{{.repository_url}}">{{.repository_url}}</a>
          </code>
        </div>
      </div>
  </div>
</figure>
